:root {
  --clr-bg-light: #343338;
  --clr-bg-dark: #0E0E0F;
  --clr-primary: #D4AA22;
  /* --clr-primary: #cda832; */
  --clr-text: #fff;
  --clr-text-hover: #D4AA22;
  --clr-form-input: #3d3c42;
  --clr-form-error: #d43d3d;
}